h1 {
    color:#0000FF;
}
 
h2 {
    color:#FF0000;
}
 
table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 5px;
}
ul {
    padding-left: 0;
    list-style: none;
    font-size:0;
    height:50px;
}
cell {
    display: inline-block;
    outline:1px solid black;
    margin-right:0px;
    height:100%;
    width:50px;
}

