<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Field</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <style>
        ul {
            padding-left: 0;
            margin: 0;
            list-style: none;
            /*font-size: 0;*/
            height: 50px;
            text-align: center;

        }

        cell {
            display: inline-block;
            outline: 1px solid black;
            margin-right: 0px;
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript">
        function nikita(x, y) {
            alert('x = ' + x + ' y = ' + y);
            $('.block'+x+'_'+y).html('done');
        }

        function testQuery() {
            $.get("/hello", function (data, status) {
                alert("Data: " + data + "\nStatus: " + status);
                $('.block').html(data);
            });
        }
    </script>
</head>
<body>
<center>
    <div class="block"><p>Hello</p></div>
    <h1>Поле игрока <a th:utext="${user.name}"/></h1>
    <h1 onclick="testQuery()">Game id = <a th:utext="${game.id}"/></h1>


    <ul>
        <cell th:each="cell : ${x1cell}">
            <cell th:class="'block'+${cell.x} + '_'+${cell.y}" th:onclick="'javascript:nikita(' + ${cell.x} + ',' + ${cell.y} + ');'">
                <td th:text="${cell.id}">...</td>
            </cell>
        </cell>
    </ul>
    <ul>
        <cell th:each="cell : ${x2cell}">
            <cell th:class="'block'+${cell.x} + '_'+${cell.y}" th:onclick="'javascript:nikita(' + ${cell.x} + ',' + ${cell.y} + ');'">
                <td th:text="${cell.id}">...</td>
            </cell>
        </cell>
    </ul>
    <ul>
        <cell th:each="cell : ${x3cell}">
            <cell th:class="'block'+${cell.x} + '_'+${cell.y}" th:onclick="'javascript:nikita(' + ${cell.x} + ',' + ${cell.y} + ');'">
                <td th:text="${cell.id}">...</td>
            </cell>
        </cell>
    </ul>
    <ul>
        <cell th:each="cell : ${x4cell}">
            <cell th:class="'block'+${cell.x} + '_'+${cell.y}" th:onclick="'javascript:nikita(' + ${cell.x} + ',' + ${cell.y} + ');'">
                <td th:text="${cell.id}">...</td>
            </cell>
        </cell>
    </ul>


</center>
</body>
</html>